@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Shoplist A Ecommerce Category Flat Bootstrap Responsive  Website Template | Home :: w3layouts</title>
    <link href="@Url.Content("~/Content/user/")css/bootstrap.css" rel="stylesheet" type="text/css" media="all">
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="@Url.Content("~/Content/user/")js/jquery-1.11.0.min.js"></script>
    <!-- Custom Theme files -->
    <link href="@Url.Content("~/Content/user/")css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!-- Custom Theme files -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Shoplist Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!--Google Fonts-->
    <link href='//fonts.googleapis.com/css?family=Hind:400,500,300,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:400,700,300' rel='stylesheet' type='text/css'>
    <!-- start-smoth-scrolling -->
    <script type="text/javascript" src="@Url.Content("~/Content/user/")js/move-top.js"></script>
    <script type="text/javascript" src="@Url.Content("~/Content/user/")js/easing.js"></script>
    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 1000);
            });
        });
    </script>
    <!-- //end-smoth-scrolling -->
    <script src="@Url.Content("~/Content/user/")js/simpleCart.min.js"> </script>
    <script src="@Url.Content("~/Content/user/")js/bootstrap.min.js"></script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-main">
                <div class="top-nav">
                    <div class="content white">
                        <nav class="navbar navbar-default" role="navigation">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <div class="navbar-brand logo">
                                    <a href="@Url.Action("Index", "Home")">
                                        <img alt='' src="@Url.Content("~/Content/user/")images/logo1.png"/>
                                    </a>
                                </div>
                            </div>
                            <!--/.navbar-header-->
                            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                                <ul class="nav navbar-nav">
                                    <li>@Html.ActionLink("Home", "Index", "Home") </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Men <b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Accessories", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Bags", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Undergarments", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Jackets & Coats", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Wallets", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Jeans", "Product_M", "Home")</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Shirts", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Shoes & Boats", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Shorts", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Watches", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Sunglasses", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Bands", "Product_M", "Home")</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Swimwear", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Jack & Jones", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Ray-Ban", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Longer wear", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Saree", "Product_M", "Home")</li>
                                                        <li>@Html.ActionLink("Nike", "Product_M", "Home")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Women <b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Accessories", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Bags", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Undergarments", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Jackets & Coats", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Wallets", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Jeans", "Product_W", "Home")</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Shirts", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Shoes & Boats", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Shorts", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Watches", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Sunglasses", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Bands", "Product_W", "Home")</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Swimwear", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Jack & Jones", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Ray-Ban", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Longer wear", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Saree", "Product_W", "Home")</li>
                                                        <li>@Html.ActionLink("Nike", "Product_W", "Home")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li class="dropdown">
                                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Kids<b class="caret"></b></a>
                                        <ul class="dropdown-menu multi-column columns-3">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Accessories", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Bags", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Undergarments", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Jackets & Coats", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Wallets", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Jeans", "Product_K", "Home")</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Shirts", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Shoes & Boats", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Shorts", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Watches", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Sunglasses", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Bands", "Product_K", "Home")</li>
                                                    </ul>
                                                </div>
                                                <div class="col-sm-4">
                                                    <ul class="multi-column-dropdown">
                                                        <li>@Html.ActionLink("Swimwear", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Jack & Jones", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Ray-Ban", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Longer wear", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Saree", "Product_K", "Home")</li>
                                                        <li>@Html.ActionLink("Nike", "Product_K", "Home")</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </ul>
                                    </li>
                                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                                </ul>
                            </div>
                            <!--/.navbar-collapse-->
                        </nav>
                        <!--/.navbar-->
                    </div>
                </div>
                <div class="header-right">
                    <div class="search">
                        <div class="search-text">
                            <input class="serch" type="text" value="Search" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Search';}" />
                        </div>
                        <div class="cart box_1">
                            <a href="@Url.Action("checkout","Home")">
                                <h3>
                                    <img src="@Url.Content("~/Content/user/")images/cart.png" alt="" />
                                    <div class="total">
                                        <span class="simpleCart_total"></span>
                                    </div>
                                </h3>
                            </a>
                            <p><a href="javascript:;" class="simpleCart_empty">Empty Cart</a></p>
                        </div>
                        <div class="head-signin">
                            <h5>@Html.ActionLink("Sign In", "LogIn", "Home")</h5>
                        </div>
                        <div class="clearfix"> </div>
                    </div>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
    </div>
    <!--header end here-->
    @*<!--banner strat here-->
    <div class="banner">
        @RenderBody()
    </div>
    <!--banner end here-->
    <!--block-layer2 start here-->
    <div class="blc-layer2">
        @RenderBody()
    </div>
    <!--block-layer2 end here-->
    <!--block-layer1 start here-->
    <div class="blc-layer3">
        @RenderBody() 
    </div>
    <!--block-layer1 end here-->
    <!--home-block start here-->
    <div class="home-block">
        @RenderBody()
    </div>
    <!--home block end here-->*@
    <!--footer strat here-->
    <div class="blc-layer3">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="container">
            <div class="footer-main">
                <div class="ftr-grids-block">
                    <div class="col-md-3 footer-grid">
                        <ul>
                            <li><a href="product.html">Accessories</a></li>
                            <li><a href="product.html">Hand bags</a></li>
                            <li><a href="product.html">Clothing</a></li>
                            <li><a href="product.html">Brands</a></li>
                            <li><a href="product.html">Watches</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <ul>
                            <li><a href="login.html">Your Account</a></li>
                            <li><a href="contact.html">Contact Us</a></li>
                            <li><a href="product.html">Store Locator</a></li>
                            <li><a href="pressroom.html">Press Room</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid">
                        <ul>
                            <li><a href="terms.html">Website Terms</a></li>
                            <li>
                                <select class="country">
                                    <option value="select your location">Select Country</option>
                                    <option value="saab">Australia</option>
                                    <option value="fiat">Singapore</option>
                                    <option value="audi">London</option>
                                </select>

                            </li>
                            <li><a href="shortcodes.html">Short Codes</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 footer-grid-icon">
                        <ul>
                            <li><a href="#"><span class="u-tub"> </span></a></li>
                            <li><a href="#"><span class="instro"> </span></a></li>
                            <li><a href="#"><span class="twitter"> </span></a></li>
                            <li><a href="#"><span class="fb"> </span></a></li>
                            <li><a href="#"><span class="print"> </span></a></li>
                        </ul>
                        <form>
                            <input class="email-ftr" type="text" value="Newsletter" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Newsletter';}">
                            <input type="submit" value="Submit">
                        </form>
                    </div>
                    <div class="clearfix"> </div>
                </div>
                <div class="copy-rights">
                    <p>© 2016 Shoplist. All Rights Reserved | Design by  <a href="http://w3layouts.com/" target="_blank">W3layouts</a> </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
